* {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #7011c9;
}
main {
  margin-left: 5rem;
  padding: 1rem;
}

/* Navbar */
.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
}
a {
  text-decoration: none;
  color: white;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item:last-child {
  margin-top: auto;
  margin-bottom: 1rem;
}
.nav-link {
  color: #fff;
  display: flex;
  height: 2rem;
  align-items: center;
}
.nav-link:hover {
  border-bottom: #fff 1px solid;
}
#item-1 {
  border: none;
}

/* Main */
main {
  background-color: #3f51b5;
  color: #fff;
  height: 100rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.container h1 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container p {
  padding: 100;
}
/* Materiile */

.materii {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.materii > li {
  margin: 1rem;
  padding: 1rem;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 1rem;
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #fff;
}
